body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #0078D4;
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
}

#question-container {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
}

#question {
  font-size: 18px;
  margin-bottom: 10px;
}

#options {
  flex-direction: column; /* Alinhar as opções verticalmente */
}

#options label {
  margin-bottom: 10px;
  display: block; /* Fazer cada opção ocupar uma linha inteira */
}

#submit-btn {
  padding: 10px 20px;
  background-color: #0078D4;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 10px; /* Adicionar margem para espaçar o botão das opções */
}

#submit-btn:hover {
  background-color: #005A9E;
}

#result-container {
  display: none;
  padding: 20px;
  background-color: #EDEDED;
}

#result-text {
  font-size: 18px;
  text-align: center;
}

/* Estilo personalizado para o resultado */
#result-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
}